
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.firstpart{
align-items: center;
color: rgb(27, 91, 27);
}

.secondpart{
color: rgb(27, 91, 27);
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  background-color: rgb(227, 224, 217);
}


.tree{
    width:45vw
}


button {
    background-color:#FFFFFF00;
    border:none;
}



